<div class="receipt-container">
  <div id="ticket-wrap">

    <div class="content">
      <div id="header-receipt">
        <h2>Receipt</h2>
        <p>Address: #123 Jan lang sa tabi-tabi st.</p>
        <p>Telephone No: 861-1512</p>
      </div>

      <hr>
      <div class="receipt-content">
        <p id="date"><%= @ticket.created_at %></p>
        <p class="info"><%= @ticket.name %></p>
        <p class="info"><%= @ticket.email %></p>
        <p class="info"><%= @ticket.age %></p>
        <p class="info"><%= @ticket.country %></p>
      </div>


      <hr>

      <h2>Thank you!</h2>

      <div class="barcode">
        <span class="lg-l"></span>
        <span class="sm-l"></span>
        <span class="xs-l"></span>
        <span class="md-l"></span>
        <span class="md-l"></span>
        <span class="xs-l"></span>
        <span class="lg-l"></span>
        <span class="xs-l"></span>
        <span class="sm-l"></span>
        <span class="xs-l"></span>
        <span class="lg-l"></span>
        <span class="md-l"></span>
        <span class="xs-l"></span>
        <span class="sm-l"></span>
        <span class="xs-l"></span>
        <span class="xs-l"></span>
        <span class="lg-l"></span>
        <span class="sm-l"></span>
        <span class="sm-l"></span>
        <span class="md-l"></span>
        <span class="xl-l"></span>
        <span class="xs-l"></span>
        <span class="xl-l"></span>
        <span class="sm-l"></span>
        <span class="sm-l"></span>
        <span class="sm-l"></span>
        <span class="xs-l"></span>
        <span class="md-l"></span>
        <span class="xs-l"></span>
        <span class="xs-l"></span>

        <p>
          <%= link_to 'Ok', tickets_path %>
        </p>
      </div>
    </div>
  </div>
</div>