<h1>Post List</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>


  </thead>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.user&.email %></td>
    <td><%= post.categories.pluck(:name).join(',') %></td>
    <td>
      <%= link_to 'Show', post_path(post) %>
      <%= link_to 'Edit', edit_post_path(post) if post.user == current_user %>
      <%= button_to 'Delete', post_path(post), method: :delete if post.user == current_user%>
      <%= link_to 'comments', post_comments_path(post) %>
      <%= link_to 'new comment', new_post_comment_path(post) %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to 'New', new_post_path %>